$width: (
    lg: (
        max: null,
        min: 1200px,
        device: "desktop"
    ),
    md: (
        max: 1200px,
        min: 768px,
        device: "pad"
    ),
    sm: (
        max: 768px,
        min: null,
        device: "mobile"
    )
);
