@use "./../_mixins/_medias" as medias;
@use "./../_mixins/_wrapper" as wrapper;

.c-banner {
  $root: &;

  @include wrapper.wrapper();
  padding-top: 20px;
  padding-bottom: 20px;
  animation: fadeUp 1s ease forwards;

  &__title {
    font-family: Roboto Mono;
    font-weight: bold;
    color: #c78a03;
    font-size: 40px;
  }

  &__subtitle {
    font-size: 28px;
    font-weight: bold;
    margin-top: 12px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    max-width: 600px;
    padding-left: 18px;
    margin-top: 40px;
    line-height: 200%;
    font-size: 20px;
  }

  &__item {
    display: flex;
    justify-content: end;

    &:nth-of-type(1) {
      align-self: flex-start;
    }
  }

  &__sign {
    flex: 0 0 auto;
    width: 160px;
    height: 18px;
    margin-top: 12px;
    object-fit: contain;
    background: url(/images/logo/sign.png) no-repeat center/contain;
  }

  &__star {
    position: relative;

    > :nth-child(1) {
      top: -240px;
      left: 500px;
    }
  }

  &.-sm {
    @at-root & #{$root} {
      &__content {
        max-width: 470px;
      }
    }
  }

  &.-faq {
    @at-root & #{$root} {
      &__title {
        font-family: "Roboto Serif";
        color: rgba($color: #e8c47e, $alpha: 0.7);
        font-size: 120px;
        height: 140px;
      }

      &__content {
        max-width: 700px;
      }

      &__star {
        position: relative;

        > :nth-child(1) {
          top: -240px;
          left: 800px;
        }
      }
    }
  }

  @include medias.breakpoint-down("md") {
    &__title {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 20px;
    }

    &__content {
      max-width: 400px;
      padding-left: 0;
      font-size: 14px;
    }

    &__star {
      position: relative;

      > :nth-child(1) {
        top: -200px;
        left: 300px;
      }
    }

    &.-sm {
      @at-root & #{$root} {
        &__content {
          max-width: 370px;
        }
      }
    }

    &.-faq {
      @at-root & #{$root} {
        &__title {
          font-size: 80px;
          height: 80px;
        }

        &__content {
          max-width: 480px;
        }

        &__star {
          position: relative;

          > :nth-child(1) {
            top: -240px;
            left: 800px;
          }
        }
      }
    }
  }

  @include medias.breakpoint-down("sm") {
    padding-top: 0;
    padding-bottom: 0;

    &.-faq {
      @at-root & #{$root} {
        &__title {
          font-size: 60px;
          height: 60px;
        }

        &__star {
          > :nth-child(1) {
            top: -240px;
            left: 155px;
          }
        }
      }
    }
  }
}
