@use "./../_mixins/_medias" as medias;
@use "./../_mixins/_wrapper" as wrapper;

// title
.c-title {
  @include wrapper.wrapper();
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 60px;
    background: url(/images/other/star.png) no-repeat center/contain;
    animation: breathe 4s ease-in-out infinite;
  }

  &.-v {
    flex-direction: column;
    gap: 12px;
  }

  @include medias.breakpoint-down("sm") {
    justify-content: center;
    gap: 20px;
    font-size: 24px;

    &::before {
      width: 24px;
    }
  }
}

// kv
.c-kv {
  @include wrapper.wrapper();
  display: flex;
  align-items: center;
  z-index: 1;
  flex: 1;
  margin-bottom: 72px;

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 860px;
  }

  &__text {
    padding-bottom: 40px;
  }

  &__title {
    font-size: 40px;
    font-weight: bold;
    animation: fadeUp 1.2s forwards;
    transition: 0.3s;
    opacity: 0;
  }

  &__slogon {
    width: 100%;
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 10px;
    font-size: 20px;
    font-style: italic;
    animation: fadeUp 1s forwards 0.9s;
    transition: 0.3s;
    opacity: 0;

    span {
      &:nth-of-type(2n) {
        align-self: flex-end;
      }
    }
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 12px;
    margin-top: calc(32px - 40px);
    animation: fadeUp 1.2s forwards;
    transition: 0.3s;
    opacity: 0;
  }

  &__star {
    position: relative;
    pointer-events: none;

    > :nth-child(1) {
      top: -270px;
      left: -800px;
    }

    > :nth-child(2) {
      bottom: 130px;
      left: 200px;
    }

    > :nth-child(3) {
      top: 180px;
      right: 650px;
    }

    > :nth-child(4) {
      bottom: 70px;
      right: 220px;
    }

    > :nth-child(5) {
      top: 280px;
      right: -150px;
    }
  }

  @include medias.breakpoint-down("sm") {
    &__text {
      padding-bottom: 20px;
    }

    &__title {
      font-size: 24px;
    }

    &__slogon {
      width: 85%;
      font-size: 16px;
      font-style: italic;
    }

    &__star {
      > :nth-child(1),
      > :nth-child(2) {
        display: none;
      }

      > :nth-child(3) {
        top: -260px;
        left: calc(50% - 320px);
      }

      > :nth-child(4) {
        top: 27vh;
        right: calc(50% + 160px);
      }

      > :nth-child(5) {
        top: -120px;
        left: calc(50% - 40px);
      }
    }
  }
}

.o-star {
  --size: 28px;
  --dur: 2.4s;
  --delay: 0s;

  position: absolute;
  width: var(--size);
  height: calc(var(--size) * 1.65);
  background: url(/images/other/star.png) no-repeat center / contain;
  animation: breathe var(--dur) ease-in-out var(--delay) infinite;
  opacity: 0;

  &.-lg {
    --size: 40px;
    --dur: 3.2s;
    --delay: 0.3s;
  }

  &.-md {
    --size: 32px;
    --dur: 4s;
    --delay: 0.6s;
  }

  &.-sm {
    --size: 25px;
    --dur: 2.4s;
    --delay: 0.2s;
  }
}

.o-textLoader {
  $root: &;

  display: flex;
  align-items: center;
  height: 28px;
  position: relative;

  &__loading {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    animation: loading-dot 1.2s infinite ease-in-out;
    animation-delay: 0.15s;
    margin: 0 8px;
    opacity: 1;
    visibility: visible;
    transition:
      opacity 0.4s ease,
      visibility 0.4s ease;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #fff;
      animation: loading-dot 1.2s infinite ease-in-out;
    }

    &::before {
      left: -8px;
      animation-delay: 0s;
    }

    &::after {
      left: 8px;
      animation-delay: 0.3s;
    }
  }

  &__text {
    font-size: 24px;
    font-style: italic;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #e3b75e 0%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.4s ease,
      visibility 0.4s ease;
  }

  &.is-showText {
    @at-root & #{$root} {
      &__loading {
        opacity: 0;
        visibility: hidden;
      }

      &__text {
        opacity: 1;
        visibility: visible;
        animation: fadeText 1s ease-out forwards;
      }
    }
  }

  @include medias.breakpoint-down("sm") {
    &__text {
      font-size: 18px;
    }
  }
}

.o-waveText {
  position: relative;
  height: 24px;
  opacity: 0;
  animation: fadeIn 1s ease forwards 0.6s;

  span {
    display: inline-block;
    font-style: italic;
    font-size: 18px;
    animation: wave 2s ease-in-out infinite;
    color: rgba($color: #fff, $alpha: 0.8);
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 4px;
    opacity: 0;
    visibility: hidden;
    animation: cycleDisplay 32s infinite;

    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        animation-delay: ($i - 1) * 4s;
      }
    }

    span {
      &:nth-child(4n) {
        animation-delay: 0s;
      }

      &:nth-child(4n-3) {
        animation-delay: 0.2s;
      }

      &:nth-child(4n-2) {
        animation-delay: 0.4s;
      }

      &:nth-child(4n-1) {
        animation-delay: 0.6s;
      }
    }
  }
}

// partner
.c-logo {
  $root: &;
  width: 100%;
  z-index: 1;
  background: #2b2414;
  animation: fadeIn 1s forwards 2s;
  opacity: 0;

  &__wrap {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    width: 100%;
    transition-timing-function: linear !important;
  }

  &__logo {
    width: 120px;
    height: 70px;
    object-fit: contain;
    transition: 0.3s;
    filter: grayscale(100%);

    &.no-filter {
      filter: brightness(0.2) invert(1) grayscale(100%);
      transition: transform 0.3s;
    }
  }

  &__item {
    &.swiper {
      &-slide {
        width: fit-content;
      }
    }
  }

  @media (hover: hover) {
    &__item {
      &:hover {
        @at-root & #{$root} {
          &__logo {
            transform: scale(1.1);
            filter: none;

            &.no-filter {
              filter: brightness(0) invert(1) grayscale(100%);
            }
          }
        }
      }
    }
  }
}

// quote
.o-quote {
  $root: &;

  @include wrapper.wrapper();
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 900px;
  padding: 100px 40px;
  font-size: 18px;
  text-align: center;

  &__title {
    font-size: 24px;
    font-weight: bold;

    span {
      font-weight: bold;
      color: #dbab40;
    }
  }

  &__content {
    line-height: 180%;

    span {
      font-weight: bold;
      color: #e8c47e;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 0px;
    width: 40px;
    height: 40px;
    object-fit: contain;
    background: url(/images/other/quote-left.svg) no-repeat center/contain;
  }

  &::after {
    top: auto;
    left: auto;
    bottom: 50px;
    right: 0px;
    background: url(/images/other/quote-right.svg) no-repeat center/contain;
  }

  &.-sm {
    width: 460px;
    max-width: 100%;
    text-align: end;

    &::before,
    &::after {
      left: 0;
      top: 30px;
    }

    &::after {
      top: auto;
      left: auto;
      right: 0;
      bottom: 30px;
    }

    @at-root & #{$root} {
      &__title {
        margin: auto;

        b {
          color: #e8c47e;
        }
        span {
          color: #fff;
        }
      }
    }
  }

  @include medias.breakpoint-down("md") {
    padding: 100px 52px;
    font-size: 16px;

    &::before,
    &::after {
      left: 20px;
      width: 30px;
      height: 30px;
    }

    &::after {
      top: auto;
      left: auto;
      bottom: 60px;
      right: 20px;
    }

    &__title {
      font-size: 20px;
    }

    &.-sm {
      width: 280px;
    }
  }

  @include medias.breakpoint-down("sm") {
    gap: 32px;

    &__content {
      // text-align: start;
      font-size: 14px;
    }
    &.-sm {
      width: 100%;
      padding: 60px;
    }
  }
}

// feature
.c-feature {
  @include wrapper.wrapper();
  display: flex;
  gap: 32px;
  width: 100%;
  padding-bottom: 80px;

  &__item {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 20px;
    background: rgba($color: #fff, $alpha: 0.05);
    border: 1px solid rgba($color: #fff, $alpha: 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
    transition: 0.6s !important;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border: 1px solid #f0cc7e;
      border-radius: 20px;
      pointer-events: none;
      -webkit-clip-path: circle(0% at 100% 0);
      clip-path: circle(0% at 100% 0);
      transition:
        clip-path 0.6s ease-in-out,
        -webkit-clip-path 0.6s ease-in-out;
    }

    &:nth-of-type(2) {
      margin: 40px 0 -40px 0;
    }

    &:nth-of-type(3) {
      margin: 80px 0 -80px 0;
    }

    @media (hover: hover) {
      &:hover {
        transform: translateY(-8px) !important;
        transition-delay: none !important;
        &::after {
          -webkit-clip-path: circle(150% at 100% 0);
          clip-path: circle(150% at 100% 0);
        }
      }
    }
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
  }

  &__content {
    opacity: 0.7;
    line-height: 200%;
  }

  @include medias.breakpoint-down("md") {
    flex-direction: column;
    gap: 20px;
    max-width: 620px;
    padding-bottom: 0;

    &__item {
      &:nth-of-type(2),
      &:nth-of-type(3) {
        margin: 0;
      }
    }
  }
}

// service
.l-service {
  position: relative;
  overflow: hidden;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
  }

  &__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    z-index: 1;
    background:
      url(/images/background/blur.svg) no-repeat right calc(50% - 480px)
        bottom -200px / 800px,
      rgba($color: #000000, $alpha: 0.8);
  }

  &__action {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  @include medias.breakpoint-down("md") {
    &__wrap {
      padding: 60px 20px 60px 20px;
    }
  }
}

.o-comment {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  height: 100%;
  background: rgba($color: #fff, $alpha: 0.05);
  border: 1px solid rgba($color: #fff, $alpha: 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 20px;
  transition: 0.6s;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid #f0cc7e;
    border-radius: 20px;
    pointer-events: none;
    -webkit-clip-path: circle(0% at 100% 0);
    clip-path: circle(0% at 100% 0);
    transition:
      clip-path 0.6s ease-in-out,
      -webkit-clip-path 0.6s ease-in-out;
  }

  @media (hover: hover) {
    &:hover {
      &::after {
        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);
      }
    }
  }

  &__name {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 60px;
    line-height: 200%;
    font-weight: bold;
    color: rgba($color: #fff, $alpha: 0.7);

    &::before {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      width: 40px;
      height: 40px;
      background: url(/images/other/user.svg) no-repeat center/contain;
    }
  }

  &__text {
    line-height: 200%;
    color: rgba($color: #fff, $alpha: 0.7);
  }
}

.l-comment {
  &__star {
    position: relative;

    > :nth-child(1) {
      top: -80px;
      right: calc(50% - 570px);
      z-index: 20;
    }
  }

  @include medias.breakpoint-down("md") {
    &__star {
      > :nth-child(1) {
        top: -33px;
        right: calc(5%);
      }
    }
  }
}

// service card
.l-serviceCard {
  padding: 100px 0;
  background: rgba($color: #000000, $alpha: 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  &__wrap {
    display: flex;
    gap: 20px;
    @include wrapper.wrapper();
  }

  &__item {
    flex: 0 1 108px;
    min-width: 0;
    transition: flex-grow 0.3s ease;

    &.is-active {
      flex-grow: 1;
    }
  }

  @include medias.breakpoint-down("md") {
    padding: 60px 0;

    &__wrap {
      flex-direction: column;
    }

    &__item {
      flex: 0 1 auto;
    }
  }
}

.c-service {
  $root: &;

  position: relative;
  display: flex;
  flex-direction: column;
  height: 628px;
  width: 100%;
  padding: 40px;
  border-radius: 12px;
  transition: 0.3s;
  overflow: hidden;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
  }

  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.7);
  }

  > * {
    z-index: 1;
  }

  &__collapse {
    display: flex;
    height: 100%;
    gap: 20px;
    font-size: 20px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    letter-spacing: 10px;
    white-space: nowrap;
    transition: 0.3s;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: fit-content;
    transition: 0.6s;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: bold;
  }

  &__text {
    flex: 1;
  }

  &__title {
    flex: 1;
  }

  &__hash {
    display: flex;
    font-size: 14px;
    font-weight: normal;
  }

  &__icon {
    width: 28px;
    height: 28px;
    object-fit: contain;
    flex: 0 0 auto;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  &__collapse,
  &__content {
    height: calc(628px - 80px);
    transition: 0.6s;
  }

  &__desc {
    display: flex;
    flex: 1;
    line-height: 200%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    flex: 0 0 auto;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: 0.3s;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 14px;
    background: rgba($color: #fff, $alpha: 0.15);
    transition: 0.3s;
  }

  &.is-active {
    @at-root & #{$root} {
      &__collapse {
        opacity: 0;
        height: 0;
      }

      &__content {
        opacity: 1;
        height: 100%;
      }

      &__icon {
        display: none;
      }
    }
  }

  @include medias.breakpoint-down("md") {
    height: fit-content;
    max-height: 60px;
    padding: 20px 20px;
    transition: none;

    &__collapse {
      font-size: 18px;
      writing-mode: unset;
      text-orientation: unset;
      letter-spacing: 4px;
      white-space: nowrap;
    }

    &__icon {
      width: 20px;
      height: 20px;
    }

    &__wrap {
      transition: none;
    }

    &__collapse {
      height: 0;
      transition: 0s;
      font-size: 14px;
    }

    &__content {
      height: 0;
      transition: none;
    }

    &__item {
      padding: 6px 8px;
      font-size: 12px;
    }

    &__title {
      font-size: 20px;
    }

    &.is-active {
      max-height: 1000px;
      transition: max-height 0.6s ease;

      @at-root & #{$root} {
        &__collapse {
          height: 0;
          transition: 0.6s;
        }

        &__content {
          height: 100%;
          transition:
            height 0.6s ease,
            opacity 0.6s ease;
        }
      }
    }
  }
}

// price
.c-plan {
  $root: &;

  position: relative;
  width: 100%;
  //todo
  height: 1154px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  background: rgba($color: #fff, $alpha: 0.1);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 60px 20px 32px 20px;
  transition: 0.3s;

  &.is-active {
    margin-top: 80px;
    color: #000;
    background: url(/images/section/plan/plan-active.png) no-repeat center/cover;

    @at-root & #{$root} {
      &__alpha {
        color: #f0cc7e;
        opacity: 1;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
      }

      &__tag {
        background: #e3b75e;
        color: #fff;
      }

      &__head {
        border-color: #c78a03;
      }

      &__item {
        &::before {
          background: #c78a03;
        }
      }

      &__notice {
        color: #000;

        &::before {
          background: #000;
        }
      }

      &__text {
        color: rgba($color: #000000, $alpha: 0.3);
      }

      &__input {
        &:checked {
          @at-root & ~ #{$root} {
            &__text {
              color: #c78a03;
            }
          }
        }
      }

      &__switch {
        pointer-events: all;
      }
    }
  }

  &__tag {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    background: rgba($color: #fff, $alpha: 0.2);
    font-size: 14px;
    border-radius: 0 20px;
  }

  &__switch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-bottom: 8px;
    pointer-events: none;
  }

  &__text {
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto Serif";
    color: #fff;
    transition: 0.3s;
  }

  &__input {
    appearance: none;
    flex: none;
    order: 0;
    width: 30px;
    height: 16px;
    margin: 0;
    padding: 2px;
    background: #979797;
    border: 0;
    border-radius: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &::before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
    }

    &:focus-visible {
      outline: 2px solid #c78a03;
      outline-offset: 2px;
    }

    &:checked {
      background: #c78a03;

      &::before {
        transform: translateX(14px);
      }

      @at-root & ~ #{$root} {
        &__text {
          color: #000;
        }
      }
    }
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  &__alpha {
    position: absolute;
    inset: 0;
    width: fit-content;
    height: fit-content;
    top: -109px;
    left: 24px;
    font-family: "Roboto Serif";
    font-size: 100px;
    font-weight: bold;
    opacity: 0.35;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
  }

  &__head {
    display: flex;
    flex-direction: column;
    flex: 0;
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
    cursor: pointer;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0;
    width: fit-content;
    gap: 12px;
    flex: 1;
    margin: 0;
    list-style: none;
    font-size: 14px;
  }

  &__note {
    margin-top: 24px;
    font-size: 14px;
    opacity: 0.6;
    text-align: center;
  }

  &__item {
    position: relative;
    padding-left: calc(24px + 8px);

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      mask: url(/images/icon/check.svg) no-repeat center/contain;
      background: #e8c47e;
    }
  }

  &__action {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 8px;
    margin-top: 32px;
    margin-left: 8px;

    &.-notice {
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }
  }

  &__notice {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;

    &::before {
      content: "";
      width: 24px;
      height: 24px;
      background: #fff;
      mask: url(/images/icon/info.svg) no-repeat center/contain;
    }
  }

  @include medias.breakpoint-down("sm") {
    margin-top: 100px;

    &.is-active {
      margin-top: 60px;
    }

    &__alpha {
      font-size: 80px;
      top: -86px;
    }
  }
}

.o-tooltip {
  $root: &;

  &.is-active {
    @at-root & #{$root} {
      &__content {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
      }
    }
  }

  &.-wt {
    color: #fff;
  }

  &__btn {
    width: 28px;
    height: 28px;
    mask: url(/images/icon/gift.svg) no-repeat center/contain;
    background: #fff;
    opacity: 0.6;
    animation: gift 1.4s cubic-bezier(0.34, 1.56, 0.64, 1) infinite;

    &.is-active {
      background: #000;
    }
  }

  &__content {
    position: absolute;
    display: flex;
    transform: translate(calc(-50% + 4px), calc(-100% - 60px));
    visibility: hidden;
    opacity: 0;
    width: 340px;
    padding: 16px;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    text-align: start;
    font-size: 14px;
    background:
      url(/images/background/blur-yl.svg) no-repeat top -150px right -300px /
        800px,
      url(/images/background/blur-yl.svg) no-repeat top -150px right -300px /
        800px,
      url(/images/background/blur-yl.svg) no-repeat top -150px right -300px /
        800px,
      rgba($color: #140f09, $alpha: 0.95);
    border-radius: 4px;
    transition:
      opacity 0.3s,
      visibility 0s linear 0.3s;

    &::after {
      content: "";
      position: absolute;
      bottom: -18px;
      left: 50%;
      border: 9px solid transparent;
      border-top-color: #6a502d;
    }
  }

  &__item {
    position: relative;
    padding-left: calc(20px + 8px);

    span {
      font-weight: bold;
      color: #e8c47e;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      mask: url(/images/icon/crown.svg) no-repeat center/contain;
      background: #e8c47e;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    padding-left: 24px;
  }

  @include medias.breakpoint-down("sm") {
    &__content {
      transform: translate(calc(-50% - 60px + 4px), calc(-100% - 60px));
      &::after {
        left: calc(50% + 60px);
      }
    }
  }
}

.o-popup {
  margin: auto;
  padding: 0;
  border: none;
  border-radius: 12px;
  background: transparent;
  color: #3e3e3e;

  &::backdrop {
    background: rgba($color: #000000, $alpha: 0.7);
    backdrop-filter: blur(2px);
  }

  &__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 550px;
    padding: 24px;
    background: rgba($color: #fff, $alpha: 0.8);
    border-radius: 12px;
  }

  &__close {
    width: 24px;
    height: 24px;
    mask: url(/images/icon/close.svg) no-repeat center/contain;
    background: #3e3e3e;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    position: relative;
    font-size: 20px;
    font-weight: bold;

    &::before {
      content: "";
      position: absolute;
      left: -24px;
      width: 5px;
      height: 100%;
      background: linear-gradient(180deg, #c78a03 0%, #eac36d 62.98%);
      border-radius: 20px;
    }
  }

  &__content {
    ol {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-left: 24px;
      margin: 0;
    }
  }

  &__action {
    display: flex;
    justify-content: center;
    padding-top: 12px;
  }
}

.o-fee {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: -24px;
  padding: 12px 0px;
  margin-top: 12px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  &__tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    color: #79643d;
    border: 1px solid #79643d;
    border-radius: 40px;
  }

  &__list {
    ul {
      list-style: disc;
      padding-left: 28px;
    }
  }

  &__item {
    & + & {
      border-left: 1px solid rgba($color: #79643d, $alpha: 0.5);
    }
  }

  @include medias.breakpoint-down("sm") {
    display: flex;
    flex-direction: column;

    &__item {
      width: 80%;
      margin: auto;

      & + & {
        margin-top: 24px;
        padding-top: 24px;
        border-top: 1px solid rgba($color: #79643d, $alpha: 0.5);
        border-left: none;
      }
    }
  }
}

// custom
.l-custom {
  @include wrapper.wrapper();
  display: flex;
  gap: 40px;
  overflow: hidden;
  max-width: calc(1200px + 200px);

  &__banner {
    z-index: 3;
  }

  &__content {
    width: calc(100% - 600px + 200px);
    margin-right: -200px;
  }

  @include medias.breakpoint-down("sm") {
    flex-direction: column;

    &__content {
      width: 100%;
      margin-right: 0;
    }
  }
}

.c-custom {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: 100%;
  padding: 70px 0 0 0;
  background:
    url(/images/section/plan/customize.png) no-repeat center/cover,
    #000;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -130px;
    height: 100%;
    width: 300px;
    background: linear-gradient(90deg, #000000 40%, transparent 100%);
    pointer-events: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 40px 0 120px;
    flex: 1;
  }

  &__title {
    font-size: 28px;
    font-weight: bold;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;

    ol {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding-left: 24px;
      margin: 0;
    }

    li {
      opacity: 0.8;
    }

    b {
      font-weight: bold;
      color: #e8c47e;
    }
  }

  &__footer {
    display: flex;
    justify-content: end;
    flex: 0 0 auto;
    padding: 20px;
    font-size: 16px;
    background: rgba($color: #e8c47e, $alpha: 0.35);
  }

  @include medias.breakpoint-down("sm") {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    gap: 60px;

    &::before {
      content: none;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 0 20px 0 20px;
      flex: 1;
    }

    &__footer {
      text-align: center;
      justify-content: center;
    }
  }
}

.c-customCard {
  $root: &;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  height: 100%;
  padding: 60px 20px 32px 20px;
  background: rgba($color: #fff, $alpha: 0.15);
  border-radius: 20px;

  &__tag {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    background: rgba($color: #fff, $alpha: 0.2);
    font-size: 14px;
    border-radius: 0 20px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
    flex: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: fit-content;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;

    span {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 110px;
      padding: 4px 24px;
      color: #e8c47e;
      border: 1px solid #e8c47e;
      border-radius: 20px;
    }
  }

  &__action {
    display: flex;
    justify-content: center;
    flex: 0;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0;
    width: fit-content;
    gap: 12px;
    flex: 1;
    margin: 0;
    list-style: none;

    > #{$root}__item {
      position: relative;
      padding-left: calc(24px + 8px);

      &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 0;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        mask: url(/images/icon/check.svg) no-repeat center/contain;
        background: #e8c47e;
      }
    }
  }
}

// faq
.l-accordion {
  $root: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  &__item {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &.-wt {
    background: transparent;
    @include wrapper.wrapper();

    @at-root & #{$root} {
      &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        width: 100%;
        padding: 40px 20px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        backdrop-filter: blur(8px);
      }
    }
  }

  @include medias.breakpoint-down("sm") {
    &.-wt {
      padding: 0;

      @at-root & #{$root} {
        &__wrap {
          border-radius: 0;
        }
      }
    }
  }
}

.c-accordion {
  $root: &;
  display: flex;
  gap: 12px;
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
  border: 1px solid rgba($color: #fff, $alpha: 0.3);
  border-radius: 8px;
  transition: 0.3s;

  &__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__icon {
    width: 24px;
    height: 24px;
    flex: 0 0 auto;
    margin-top: 18px;
  }

  &__head {
    position: relative;
    display: flex;
    padding: 16px 0;
    width: 100%;
    text-align: start;
    font-size: 18px;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0);
    transition: 0.3s;
  }

  &__toggle {
    position: relative;
    width: 24px;
    height: 24px;
    flex: 0 0 auto;
    margin-top: 18px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      inset: 0;
      width: 100%;
      height: 100%;
      mask: url(/images/icon/plus.svg) no-repeat center/contain;
      background: #fff;
      transform: rotateZ(0deg);
      opacity: 1;
      transition: 0.3s;
    }

    &::after {
      transform: rotateZ(-90deg);
      mask-image: url(/images/icon/minus.svg);
      opacity: 0;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transition:
      grid-template-rows 0.4s cubic-bezier(0.5, 0, 0.5, 1),
      opacity 0.35s;
  }

  &__inner {
    overflow: hidden;
    transition: 0.35s;
  }

  &.is-active {
    padding-bottom: 12px;
    background: rgba($color: #e8c47e, $alpha: 0.3);
    border-color: rgba($color: #e8c47e, $alpha: 0);

    @at-root & #{$root} {
      &__toggle {
        &::before {
          opacity: 0;
          transform: rotateZ(90deg);
        }

        &::after {
          opacity: 1;
          transform: rotateZ(0deg);
        }
      }

      &__head {
        margin-bottom: 12px;
        border-color: rgba($color: #fff, $alpha: 0.3);
      }

      &__content {
        grid-template-rows: 1fr;
        opacity: 1;
      }
    }
  }

  @include medias.breakpoint-down("sm") {
    gap: 8px;
    padding: 0 12px;

    &__head {
      font-size: 16px;
    }
  }
}

.c-tab {
  display: flex;
  gap: 20px;

  &__topic {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 260px;
    flex: 0 0 auto;
  }

  &__content {
    position: relative;
    flex: 1;
  }

  &__text {
    font-size: 14px;
    font-weight: bold;
    width: 76px;
    text-align: center;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 0 8px 20px;
    gap: 10px;
    opacity: 0.4;
    transition: 0.6s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 8px;
      width: 2px;
      height: 100%;
      background: #c78a03;
      border-radius: 100px;
      opacity: 0;
      transition: 1s;
    }

    &.is-active {
      opacity: 1;

      &::before {
        left: 0;
        opacity: 1;
      }
    }
  }

  &__panel {
    width: 100%;
  }

  .tab-panel-enter-active {
    transition:
      opacity 1s,
      transform 1s;
  }

  .tab-panel-leave-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .tab-panel-enter-from {
    opacity: 0;
    transform: translateY(8px);
  }

  @include medias.breakpoint-down("sm") {
    flex-direction: column;
    gap: 40px;
  }
}

// contact us
.l-contact {
  @include wrapper.wrapper();
  display: flex;
  gap: 40px;
  margin-top: 40px;

  &__banner {
    width: 460px;
    flex: 0 0 auto;
  }

  &__content {
    flex: 1;
  }

  &__footer {
    text-align: end;
    padding-top: 20px;
    background: linear-gradient(90deg, #e8c47e 0%, #fff 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  &__slogon {
    position: relative;

    .o-star {
      top: 32px;
      left: -48px;
    }
  }

  &__content {
    position: relative;

    .o-star {
      top: 80%;
      left: -20px;
    }
  }

  @include medias.breakpoint-down("md") {
    gap: 20px;
  }

  @include medias.breakpoint-down("sm") {
    flex-direction: column-reverse;

    &__footer {
      text-align: center;
    }
  }
}

.c-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background: rgba($color: #fff, $alpha: 0.1);
  padding: 40px 40px 32px 40px;
  backdrop-filter: blur(4px);

  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    width: 100%;

    &.-lg {
      grid-column: 1 / -1;
    }
  }

  &__content {
    appearance: none;
    width: 100%;
    padding: 14px 0;
    color: inherit;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
    border-radius: 0;
    outline: 0;
    transition: 0.3s;

    &:focus {
      border-bottom-color: #695f49;
    }

    &::placeholder {
      font-size: 14px;
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

    span {
      font-size: 14px;
      opacity: 0.8;
    }
  }

  @include medias.breakpoint-down("sm") {
    padding: 40px 32px;

    &__wrap {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

// about us
.c-why {
  $root: &;

  display: flex;
  gap: 40px;

  &__head {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin-left: -20px;
  }

  &__subtitle {
    font-size: 18px;
    padding-left: 20px;
    opacity: 0.8;
  }

  &__content {
    flex: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 80px;
    padding-bottom: 12px;

    & + & {
      padding-top: 20px;
      border-top: 1px solid rgba($color: #fff, $alpha: 0.3);
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    font-weight: bold;
    flex: 0 0 auto;
  }

  &__num {
    position: relative;
    font-family: "Roboto Mono";
    font-weight: bold;
    font-size: 28px;
    padding-right: 10px;
    width: 48px;

    &::after {
      content: "/";
      position: absolute;
      display: block;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-size: 18px;
      font-weight: normal;
      opacity: 0.2;
    }
  }

  &__right {
    opacity: 0.8;
  }

  @include medias.breakpoint-down("md") {
    flex-direction: column;
  }

  @include medias.breakpoint-down("sm") {
    &__subtitle {
      font-size: 16px;
      margin-top: -20px;
    }

    &__item {
      flex-wrap: wrap;
      gap: 12px;
    }

    &__left,
    &__right {
      width: 100%;
    }

    &__left {
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    &__num {
      position: absolute;
      top: -40px;
      left: -48px;
      font-size: 48px;
      opacity: 0.1;

      &::after {
        content: none;
      }
    }

    &__item {
      padding: 40px 0 32px 48px;

      & + & {
        padding-top: 40px;
        border-top: 0px solid rgba($color: #fff, $alpha: 0.3);
      }
    }
  }
}

.l-about {
  background: rgba($color: #000000, $alpha: 0.8);
  overflow: hidden;
  padding: 40px 0;

  &__wrap {
    display: flex;
    height: 500px;
    @include wrapper.wrapper();
  }

  &__head {
    display: flex;
    align-items: center;
    padding-top: 40px;
    width: 400px;
    height: 100%;
    background: url(/images/section/about/about.png) no-repeat right/250px 500px;
    flex: 0 0 auto;

    .c-title {
      font-size: 28px !important;
    }
  }

  &__content {
    position: relative;
    min-width: 0;
    flex: 1;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 120px;
      background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
      transform: scaleY(1);
      pointer-events: none;
      z-index: 10;
    }

    &::after {
      top: auto;
      bottom: 0;
      transform: scaleY(-1);
    }
  }

  &.-mb {
    display: none;
    flex-direction: column;
    padding: 0;
    background:
      url(/images/background/blur.svg) no-repeat left calc(50% - 120px)
        top -80px / 800px,
      url(/images/background/blur.svg) no-repeat left calc(50% + 200px) top
        450px / 460px,
      url(/images/background/wave-circle-op3.svg) no-repeat left
        calc(50% + 100px) top 10px / 1200px;
  }

  @include medias.breakpoint-down("md") {
    &__head {
      .c-title {
        font-size: 22px !important;
      }
    }

    &__wrap {
      height: 360px;
    }

    &__head {
      width: 300px;
      height: 100%;
      background: url(/images/section/about/about.png) no-repeat right/180px
        360px;
    }
  }

  @include medias.breakpoint-down("sm") {
    &__wrap {
      display: flex;
      flex-direction: column;
      height: auto;
    }

    &__head {
      width: 280px;
      height: 100%;
      background: none;
    }

    &.-pc {
      display: none;
    }

    &.-mb {
      display: flex;
    }
  }
}

.o-brandCard {
  display: flex;
  gap: 20px;
  margin: 40px 0;

  &__num {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Roboto Mono";
    font-size: 50px;
    font-weight: bold;
    color: rgba($color: #fff, $alpha: 1);

    &::after {
      content: "";
      display: flex;
      margin-top: 24px;
      width: 1px;
      height: 24px;
      background: #fff;
      transform: rotateZ(30deg);
      opacity: 0.3;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }

  &__highlight {
    font-weight: bold;
    color: #f0cc7e;
  }

  @include medias.breakpoint-down("sm") {
    margin: 0;
  }
}

// nodata
.c-nodata {
  @include wrapper.wrapper();
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 600px;
  text-align: center;

  &__title {
    font-family: "Roboto Serif";
    font-size: 80px;
    font-weight: bold;
    color: rgba(232, 196, 126, 0.9);
  }

  &__text {
    line-height: 200%;
  }

  &__action {
    padding-top: 20px;
  }

  @include medias.breakpoint-down("sm") {
    &__title {
      font-size: 60px;
    }
  }
}
