@use "./../_mixins/_medias" as medias;
@use "./../_mixins/_wrapper" as wrapper;

// title
.c-title {
  @include wrapper.wrapper();
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 60px;
    background: url(/images/other/star.svg) no-repeat center/contain;
  }

  &.-v {
    flex-direction: column;
    gap: 12px;
  }

  @include medias.breakpoint-down("md") {
    justify-content: center;
    gap: 20px;
    font-size: 28px;

    &::before {
      width: 24px;
    }
  }
}

// kv
.c-kv {
  @include wrapper.wrapper();
  display: flex;
  align-items: center;
  z-index: 1;
  flex: 1;

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 860px;
  }

  &__text {
    padding-bottom: 40px;
  }

  &__title {
    font-size: 40px;
    font-weight: bold;
    animation: fadeUp 1.2s forwards;
    transition: 0.3s;
    opacity: 0;
  }

  &__slogon {
    width: 100%;
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 10px;
    font-size: 20px;
    font-style: italic;
    animation: fadeUp 1s forwards 0.9s;
    transition: 0.3s;
    opacity: 0;

    span {
      &:nth-of-type(2n) {
        align-self: flex-end;
      }
    }
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 12px;
    margin-top: calc(32px - 40px);
    animation: fadeUp 1.2s forwards;
    transition: 0.3s;
    opacity: 0;
  }

  @include medias.breakpoint-down("sm") {
    &__text {
      padding-bottom: 20px;
    }

    &__title {
      font-size: 24px;
    }

    &__slogon {
      width: 85%;
      font-size: 16px;
      font-style: italic;
    }
  }
}

.o-textLoader {
  $root: &;

  display: flex;
  align-items: center;
  height: 28px;
  position: relative;

  &__loading {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    animation: loading-dot 1.2s infinite ease-in-out;
    animation-delay: 0.15s;
    margin: 0 8px;
    opacity: 1;
    visibility: visible;
    transition:
      opacity 0.4s ease,
      visibility 0.4s ease;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #fff;
      animation: loading-dot 1.2s infinite ease-in-out;
    }

    &::before {
      left: -8px;
      animation-delay: 0s;
    }

    &::after {
      left: 8px;
      animation-delay: 0.3s;
    }
  }

  &__text {
    font-size: 24px;
    font-style: italic;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #e3b75e 0%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.4s ease,
      visibility 0.4s ease;
  }

  &.is-showText {
    @at-root & #{$root} {
      &__loading {
        opacity: 0;
        visibility: hidden;
      }

      &__text {
        opacity: 1;
        visibility: visible;
        animation: fadeText 1s ease-out forwards;
      }
    }
  }

  @include medias.breakpoint-down("sm") {
    &__text {
      font-size: 18px;
    }
  }
}

.o-waveText {
  position: relative;
  height: 24px;
  opacity: 0;
  animation: fadeIn 1s ease forwards 0.6s;

  span {
    display: inline-block;
    font-style: italic;
    font-size: 18px;
    animation: wave 2s ease-in-out infinite;
    color: rgba($color: #fff, $alpha: 0.8);
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 4px;
    opacity: 0;
    visibility: hidden;
    animation: cycleDisplay 32s infinite;

    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        animation-delay: ($i - 1) * 4s;
      }
    }

    span {
      &:nth-child(4n) {
        animation-delay: 0s;
      }

      &:nth-child(4n-3) {
        animation-delay: 0.2s;
      }

      &:nth-child(4n-2) {
        animation-delay: 0.4s;
      }

      &:nth-child(4n-1) {
        animation-delay: 0.6s;
      }
    }
  }
}

// partner
.c-logo {
  $root: &;
  width: 100%;
  z-index: 1;
  background: #2b2414;
  animation: fadeIn 1s forwards 2s;
  opacity: 0;

  &__wrap {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    width: 100%;
    transition-timing-function: linear !important;
  }

  &__logo {
    width: 120px;
    height: 70px;
    object-fit: contain;
    transition: 0.3s;
    filter: grayscale(100%);

    &.no-filter {
      filter: brightness(0.2) invert(1) grayscale(100%);
      transition: transform 0.3s;
    }
  }

  &__item {
    &.swiper {
      &-slide {
        width: fit-content;
      }
    }
  }

  @media (hover: hover) {
    &__item {
      &:hover {
        @at-root & #{$root} {
          &__logo {
            transform: scale(1.1);
            filter: none;

            &.no-filter {
              filter: brightness(0) invert(1) grayscale(100%);
            }
          }
        }
      }
    }
  }
}

// quote
.o-quote {
  @include wrapper.wrapper();
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 900px;
  padding: 100px 40px;
  font-size: 18px;
  text-align: center;

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 0px;
    width: 40px;
    height: 40px;
    object-fit: contain;
    background: url(/images/other/quote-left.svg) no-repeat center/contain;
  }

  &::after {
    top: auto;
    left: auto;
    bottom: 50px;
    right: 0px;
    background: url(/images/other/quote-right.svg) no-repeat center/contain;
  }

  @include medias.breakpoint-down("md") {
    padding: 100px 52px;
    font-size: 16px;

    &::before,
    &::after {
      left: 20px;
      width: 30px;
      height: 30px;
    }

    &::after {
      top: auto;
      left: auto;
      bottom: 60px;
      right: 20px;
    }

    &__title {
      font-size: 20px;
    }
  }
}

// feature
.c-feature {
  @include wrapper.wrapper();
  display: flex;
  gap: 32px;
  width: 100%;
  padding-bottom: 80px;

  &__item {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 20px;
    background: rgba($color: #fff, $alpha: 0.05);
    border: 1px solid rgba($color: #fff, $alpha: 0.3);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    transition: 0.6s;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border: 1px solid #f0cc7e;
      border-radius: 20px;
      pointer-events: none;
      -webkit-clip-path: circle(0% at 100% 0);
      clip-path: circle(0% at 100% 0);
      transition:
        clip-path 0.6s ease-in-out,
        -webkit-clip-path 0.6s ease-in-out;
    }

    &:nth-of-type(2) {
      margin: 40px 0 -40px 0;
    }

    &:nth-of-type(3) {
      margin: 80px 0 -80px 0;
    }

    @media (hover: hover) {
      &:hover {
        transform: translateY(-8px);
        &::after {
          -webkit-clip-path: circle(150% at 100% 0);
          clip-path: circle(150% at 100% 0);
        }
      }
    }
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
  }

  &__content {
    opacity: 0.7;
    line-height: 200%;
  }

  @include medias.breakpoint-down("md") {
    flex-direction: column;
    gap: 20px;
    max-width: 620px;
    padding-bottom: 0;

    &__item {
      &:nth-of-type(2),
      &:nth-of-type(3) {
        margin: 0;
      }
    }
  }
}

// service
.l-service {
  position: relative;
  overflow: hidden;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
  }

  &__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    z-index: 1;
    background:
      url(/images/background/blur.svg) no-repeat right calc(50% - 480px)
        bottom -200px / 800px,
      rgba($color: #000000, $alpha: 0.8);
  }

  &__action {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  @include medias.breakpoint-down("md") {
    &__wrap {
      padding: 60px 20px 60px 20px;
    }
  }
}
