@use "./_mixins/medias" as medias;
@use "./_mixins/_wrapper" as wrapper;

body {
  background-color: #000;
  overflow-x: hidden;

  @include medias.breakpoint-down("sm") {
    &.is-popupOpen {
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }
  }
}
/* ==========================================================================
   Header
   ========================================================================== */
.l-header {
  position: sticky;
  top: 0;
  padding: 12px 0;
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: 0.3s;

  &__wrap {
    @include wrapper.wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    transition: 0.3s;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__action {
    margin-top: 18px;
  }

  &__toggle {
    position: relative;
    display: none;
    justify-content: center;
    width: 24px;
    height: 24px;

    &::before,
    &::after {
      box-sizing: border-box;
      content: "";
      position: absolute;
      top: 6px;
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
      border-radius: 40px;
      transition: 0.3s;
    }

    &::after {
      top: auto;
      bottom: 6px;
    }

    &.is-active {
      &::before {
        top: calc(8px + 3px);
        transform: rotateZ(45deg);
      }

      &::after {
        bottom: calc(8px + 3px);
        transform: rotateZ(-45deg);
      }
    }
  }

  @include medias.breakpoint-down("md") {
    &__logo {
      width: 48px;
      height: 48px;
    }
  }

  @include medias.breakpoint-down("sm") {
    &__toggle {
      display: flex;
    }

    &__action {
      display: none;
    }

    &__menu {
      position: absolute;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      gap: 60px;
      visibility: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100dvh;
      border: 2px solid #f0cc7e;
      border-radius: 12px;
      background: rgba($color: #000, $alpha: 0.95);
      -webkit-clip-path: circle(0 at 100% 0);
      clip-path: circle(0 at 100% 0);
      opacity: 0;

      &::before {
        content: "";
        position: relative;
        width: 120px;
        height: 120px;
        background: url(/images/logo/sub-logo.svg) no-repeat center / contain;
        pointer-events: none;
        transform: translateY(20px);
        transition: 0.6s;
        z-index: -1;
      }

      transition:
        clip-path 0.6s ease-in-out,
        -webkit-clip-path 0.6s ease-in-out,
        opacity 0.6s,
        visibility 0.6s;

      &.is-active {
        visibility: visible;
        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);
        opacity: 1;

        &::before {
          transform: translateY(0px);
        }
      }
    }
  }
}

.c-headerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  transition: 0.3s;

  &__link {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 40px;

    & + & {
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 16px;
        background-color: #fff;
        opacity: 0.4;
      }
    }
  }

  @media (hover: hover) {
    &__link {
      &:hover {
        color: #c39b4b;
      }
    }
  }

  @include medias.breakpoint-down("md") {
    gap: 20px;

    &__item {
      gap: 20px;
    }
  }

  @include medias.breakpoint-down("sm") {
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding-top: 60px;
    transform: translateY(20px);
    transition: 0.6s ease-in-out;

    &__item {
      & + & {
        &::before {
          display: none;
        }
      }
    }

    &.is-active {
      transform: translateY(0px);
    }
  }
}

/* ==========================================================================
   Main
   ========================================================================== */

/* ==========================================================================
   Footer
   ========================================================================== */
.l-footer {
  display: flex;
  justify-content: end;
  @include wrapper.wrapper();
  padding-bottom: 200px;
}

.o-social {
  $root: &;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;

  &__item {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: end;
    text-decoration: none;
    padding: 12px;
  }

  &__icon {
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
    object-fit: contain;
    background: #fff;

    mask: {
      repeat: no-repeat;
      position: center;
      size: contain;
    }

    &.-ig {
      mask-image: url(/images/icon/ig.svg);
    }

    &.-line {
      mask-image: url(/images/icon/line.svg);
    }

    &.-mail {
      mask-image: url(/images/icon/mail.svg);
    }
  }

  &__text {
    width: 0px;
    text-transform: uppercase;
    pointer-events: none;
    transition: 0.6s;
    opacity: 0;
  }

  @media (hover: hover) {
    &__item {
      &:hover {
        @at-root & #{$root} {
          &__text {
            width: 100%;
            pointer-events: auto;
            opacity: 1;
          }
        }
      }
    }
  }
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

// @media only screen and (min-width: 480px) {}
// @media only screen and (min-width: 768px) {}
// @media only screen and (min-width: 1140px) {}
// @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {}
