@use "./_mixins/medias" as medias;
@use "./_mixins/_wrapper" as wrapper;

body {
  background-color: #000;
  overflow-x: hidden;

  @include medias.breakpoint-down("sm") {
    &.is-popupOpen {
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }
  }
}
/* ==========================================================================
   Header
   ========================================================================== */

.l-header {
  color: #fff;
}

/* ==========================================================================
   Main
   ========================================================================== */

/* ==========================================================================
   Footer
   ========================================================================== */

/* ==========================================================================
   Media Queries
   ========================================================================== */

// @media only screen and (min-width: 480px) {}
// @media only screen and (min-width: 768px) {}
// @media only screen and (min-width: 1140px) {}
// @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {}
